* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-heading {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

:root {
  --primary-color: #2196f3;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 17rem;
}

section {
  padding: 3rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 17rem;
  height: 100vh;
  background-color: var(--primary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav__avatar {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid #ffffff33;
}

.nav__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff80;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__content li:hover {
  cursor: pointer;
  color: #fff;
}

.nav__content li:active {
  color: white;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url("https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/278873425_3252445211750651_8241688226122825209_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=781U75KAmy4AX9KMUZ0&_nc_ht=scontent.fdad1-4.fna&oh=00_AfBTmhb5zmKl4V3iMhsuU0q1PJ1USrB1F-9wfStW9pjL9A&oe=638BF765");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

.header__avatar {
  max-width: 400px;
  max-height: auto;
}

.header__heading {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header__subheading {
  font-size: 2rem;
}

.header__content {
  max-width: 40%;
}

.header__icon {
}

.header__icon i {
  width: 2.5rem;
  height: 2.5rem;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
}

.experience {
  background-color: #f5f5f5;
}

.exp__title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.exp__list {
  display: flex;
  flex-wrap: wrap;
}

.exp__item {
  position: relative;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 21%);
  border: 1px solid #ffc107;
  min-width: 50%;
  height: 120px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.exp__text {
  position: absolute;
}

.exp__date {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--primary-color);
}

.port {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.port__tab {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.port__btn {
  width: 66px;
  height: 46px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  text-transform: uppercase;
}

.port__btn:hover {
  cursor: pointer;
}

.port__btn:active {
  background-color: var(--primary-color);
  color: #fff;
}

.port__project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project__item {
}

.project__item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.project--image {
  width: 400px;
}

.skill {
  background-color: #1f1f1fad;
}

.skill__heading {
  color: #fff;
}

.skill__content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 360px;
  height: 200px;
  background-color: #909090c7;
  color: #fff;
  font-size: 1.3rem;
}

.skill__item i {
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  color: var(--primary-color);
}

.award {
  background-color: #f0f0f0;
}

.award__wrapper {
  position: relative;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.left {
  float: left;
  text-align: right;
  
}

.right {
  float: right;
  text-align: left;
}

.award__wrapper::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 100%;
  background-color: #fff;
  content: "";
}

.award__item {
  width: 100%;
}

.award__content {
  width: 50%;
  padding: 20px;
  position: relative;
}

.award__inner {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  width: 85%;
}

/* .left::before {
  position: absolute;
  content: "";
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  position: absolute;
  left: 10px;
  content: "";
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
} */

.left::after {
  position: absolute;
  right: -12px;
  top: 15px;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid gray;
  transform: rotate(45deg);
  z-index: 1;
}

.right::after {
  position: absolute;
  left: -12px;
  top: 15px;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  background-color: white;
  transform: rotate(45deg);
  z-index: 1;

}

.right .award__inner::before{
  position: absolute;
  left: 85px;
  top: 20px;
  content: "";
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.left .award__inner::before{
  position: absolute;
  content: "";
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right .award__inner{
  float: right;
}
.left .award__inner{
  float: left;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__form {
  padding-right: 30px;
  width: 70%;
}

.footer__form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form--content {
  height: 200px;
}

.btn-submit {
  border: none;
  background-color: var(--primary-color);
  color: white;
  width: 60px;
  height: 40px;
}

.btn-submit:hover {
  cursor: pointer;
}

input,
textarea {
  border: 1px solid gray;
  border-radius: 2px;
}

input {
  height: 40px;
  width: 100%;
}

.footer__info {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info__item__block {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.info__item i {
  font-size: 2.5rem;
  width: 2.5rem;
  color: var(--primary-color);
}

.info__item--description {
  color: #00000090;
}

@media screen and (max-width: 768px) {
  .nav__content {
    display: none;
  }

  .header__avatar {
    max-width: 200px;
  }

  .header__content {
    max-width: 100%;
  }

  .exp__item {
    min-width: 100%;
  }
}
